/*------------- CSS variables --*/
:root {
  --orange: #f25029;
  --yellow: #f9b723;
  --blue: #26a1ee;
  --whitesilver: #c2b3d4;
}

body {
  background-color: #777bac;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightgray;
  border: 2px solid black;
  height: 60px;
  padding: 10px;
}

footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
  bottom: 0;
}

.top-section {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: aquamarine;
  padding: 10px;
}

.game-container {
  border: 2px solid red;
  height: 700px;
  background-color: #091152;
  justify-items: center;
}

.game-area {
  border: 2px solid green;
  height: 480px;
  width: 240px;
  padding: 20px;
}

.rod-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.rod {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 25px;
  height: 190px;
  background-color: silver;
  border: 1px solid #808080;
  margin: 10px;
  position: relative;
  padding: 4px 0;
  /* gap: 1px; */
  box-sizing: border-box;
}

.rod-lid {
  width: 23px;
  height: 8px;
  background-color: #e2e2e2;
  border: 1px solid #808080;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nut {
  width: 40px;
  height: 16px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 2px solid black;
  align-self: center;
  justify-self: end;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease-in;
}

.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.blue {
  background-color: var(--blue);
}
.whitesilver {
  background-color: var(--whitesilver);
}

.raise-nut {
  transform: translate(0, -45px);
}

.game-statistics {
  border: 2px solid wheat;
  height: 40px;
  padding: 10px;
  justify-self: center;
  margin: 20px 0;
  color: white;
}

.game-controls {
  margin: 20px;
}

.success-move {
  animation: moveNutToTarget 0.5s ease-in-out forwards;
}

/*--- Keyframes for raised nut ---*/
/*--- Movement using transform ---*/
@keyframes moveNutToTarget {
  0% {
    transform: translate(var(--raise-start-x), var(--raise-start-y));
    /* z-index: 100; */
  }
  33.33% {
    transform: translate(var(--raise-max-x), var(--raise-max-y));
  }
  66.67% {
    transform: translate(var(--lid-position-x), var(--lid-position-y));
  }
  100% {
    transform: translate(var(--target-position-x), var(--target-position-y));
    /* z-index: 100; */
  }
}
