/*------------- CSS variables --*/
:root {
  --orange: #f25029;
  --yellow: #f9b723;
  --blue: #26a1ee;
  --whitesilver: #c2b3d4;

  /* position variables */
  /* --raisePositionTop : 23px;
  --raisePositionLeft : 10px;

  --raiseMaxTop : 10px;
  --raiseMaxLeft : 50px;

  --lidPositionTop : 23px;
  --lidPositionLeft : 68px;

  --targetPositionTop : 88px;
  --targetPositionLeft : 68px; */
}

body {
  background-color: #777bac;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightgray;
  border: 2px solid black;
  height: 60px;
  padding: 10px;
}

footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
  bottom: 0;
}

.top-section {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: aquamarine;
  padding: 10px;
}

.game-container {
  border: 2px solid red;
  height: 700px;
  background-color: #091152;
  justify-items: center;
}

.game-area {
  border: 2px solid green;
  height: 480px;
  width: 240px;
  padding: 20px;
}

.rod-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.rod {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 25px;
  height: 190px;
  background-color: silver;
  border: 1px solid #808080;
  margin: 10px;
  position: relative;
  padding: 4px 0;
  /* gap: 1px; */
  box-sizing: border-box;
}

.rod::after {
  content: '';
  width: 23px;
  height: 8px;
  background-color: #e2e2e2;
  border: 1px solid #808080;
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: 50%;
  /* z-index: 2; */
  transform: translateX(-50%) ;
}

.nut {
  width: 40px;
  height: 16px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 2px solid black;
  align-self: center;
  justify-self: end;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  /* box-sizing: border-box; */
  /* z-index: 100; */
}

.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.blue {
  background-color: var(--blue);
}
.whitesilver {
  background-color: var(--whitesilver);
}

.raise-nut {
  position: absolute;
  top: 23px;
  left: -10px;
  transition: transform 0.25s ease-in;
  transform: translateY(-45px);
  /* animation: 2s infinite nut-anime; */
}

.game-statistics {
  border: 2px solid wheat;
  height: 40px;
  padding: 10px;
  justify-self: center;
  margin: 20px 0;
  color: white;
}

.game-controls {
  margin: 20px;
}

.success-move {
  animation: moveNutToLid 1s linear  forwards, moveNutDownRod 1.5s linear 0.5s forwards;
}

/*--- Keyframes for raised nut ---*/
@keyframes nut-anime {
  0%,
  100% {
    transform: scale(1) translateY(-20px);
    box-shadow: 0;
  }
  50% {
    transform: scale(1.1) translateY(-20px);
    box-shadow: 1px 1px 5px red;
  }
}

@keyframes moveNut-X {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(var(--distanceX));
  }
}

@keyframes moveNut-Y {
  0% {
    transform: translateY(-65px);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(var(--distanceY));
  }
}

/* move from source rod to top of target rod*/
@keyframes moveNutToLid {
  0% {
    top: var(--raisePositionTop); /** 23px; */
    left: var(--raisePositionLeft); /**10px; */
  }
  50% {
    top: var(--raiseMaxTop); 
    left: var(--raiseMaxLeft); 
  }
  100% {
    top: var(--lidPositionTop); /** 23px;*/
    left: var(--lidPositionLeft); /** 68px; */
  }
}

/*--- move from top of target rod to base ---*/
@keyframes moveNutDownRod {
  0% {
    top: var(--lidPositionTop); /** 23px;*/
    left: var(--lidPositionLeft); /** 68px; */
    z-index: 1;
  }
  100% {
    top: var(--targetPositionTop); /** 88px;*/
    left: var(--targetPositionLeft); /** 68px; */
    z-index: 1;
  }
}

/*--- return nut to source ---*/
@keyframes returnNut {
  0% {
    top: var(--lidPositionTop); /** 23px;*/
    left: var(--lidPositionLeft); /** 68px; */
    z-index: 1;
  }
  100% {
    top: var(--raisePositionTop); /** 23px; */
    left: var(--raisePositionLeft); /**10px; */
    z-index: 1;
  }
}