/*------------- CSS variables --*/
:root {
  --orange: #f25029;
  --yellow: #f9b723;
  --blue: #26a1ee;
  --whitesilver: #c2b3d4;
}

body {
  background-color: #777bac;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightgray;
  border: 2px solid black;
  height: 60px;
  padding: 10px;
}

footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
  bottom: 0;
}

.top-section {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: aquamarine;
  padding: 10px;
}

.game-container {
  border: 2px solid red;
  height: 700px;
  background-color: #091152;
  justify-items: center;
}

.game-area {
  border: 2px solid green;
  height: 450px;
  width: 240px;
  padding: 20px;
}

.rod-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

}

.rod {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 20px;
  height: 165px;
  background-color: silver;
  border: 1px dotted black;
  margin: 10px;
  position: relative;
}

.nut {
  width: 35px;
  height: 12px;
  margin: 2px;
  border-radius: 5px;
  border: 2px solid black;
  align-self: center;
  justify-self: end;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.orange { background-color: var(--orange);}
.yellow { background-color: var(--yellow);}
.blue { background-color: var(--blue);}
.whitesilver { background-color: var(--whitesilver);}

.raise-nut {
  /* transform: translateY(-5px) 0.5s ease-in-out; */
  position: absolute;
  top: 0; 
  left: -10px;
  transition: transform 0.5s ease;
  transform : translateY(-20px) ;
  animation: 2s infinite nut-anime;

}

.game-statistics {
  border: 2px solid black;
  /* width: 300px; */ 
  height: 40px;
  padding: 10px;
  justify-self: center;
  margin: 20px 0;
}

.game-controls {
  margin: 20px;
}

/*--- Keyframes for raised nut ---*/
@keyframes nut-anime {
  0%, 100% {
    transform: scale(1) translateY(-20px);
    box-shadow: 0 ;
  }
  50% {
    transform: scale(1.1) translateY(-20px);
    box-shadow: 1px 1px 5px red;
  }
}
